[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "dirichletprocess"]
	path = dirichletprocess
	url = https://github.com/dm13450/dirichletprocess
